@CHARSET "UTF-8";
*{	padding: 0px;margin: 0px;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,button,img{margin:0;padding:0;}
img,button{border:none;}
ol,ul,li{list-style:none;}
body {color: #333;min-width: 1000px;overflow-x: hidden;background: #ffffff;	    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
s,i,u,em{font-style:normal;}

/*整体链接颜色*/
a{color:#555555;text-decoration:none;}
a:visited { text-decoration:none;}
a:hover{text-decoration:none;clip: rect( ); color:#ff4e00;}
a:hover img{text-decoration:underline;}
a:focus{outline:none;-moz-outline:none;}

div { padding: 0; margin: 0 auto; } 
form,div,dl,dt,dd,input,ul,li,a,img,p,a,h1,h2{margin:0; padding:0; border:0; list-style:none;}
img { border:0; vertical-align:bottom; }
